{include file="public/header" /}
<!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    {include file="public/head" /}
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {include file="public/left" /}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <ol class="breadcrumb">
                            {foreach $breadcrumb as $vo} 
                               {if condition="$vo.href eq ''"}
                                 <li class="breadcrumb-item">{$vo.menu}</li>
                               {else /}
                                 <li class="breadcrumb-item"><a href="{$vo.href}">{$vo.menu}</a></li>
                               {/if}
                            {/foreach}
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="container">
                                  <h2>添加</h2>
                                  <form action="{:url('job/add_handle')}" method="POST">
                                    <div class="form-group">
                                      <label for="work">招聘职位:</label>
                                      <input type="text" class="form-control" name="work" placeholder="请输入招聘职位" required="required">
                                    </div>
                                    <div class="form-group">
                                      <label for="detail">详情:</label>
                                      <textarea type="text" class="form-control" name="detail" required="required"></textarea>
                                    </div>
                                    <div class="form-group">
                                      <label for="count">人数:</label>
                                      <input type="number" class="form-control" name="count" placeholder="请输入人数" required="required">
                                    </div>
                                    <div class="form-group">
                                      <label for="days">天数:</label>
                                      <input type="text" class="form-control" name="days" placeholder="请输入天数" required="required">
                                    </div>
                                    <div class="form-group">
                                      <label for="work_time">工作时间:</label>
                                      <input type="text" class="form-control" name="work_time" placeholder="请输入工作时间" required="required">
                                    </div>
                                    <div class="form-group">
                                      <label for="work_place">工作地点:</label>
                                      <input type="text" class="form-control" name="work_place" placeholder="请输入工作地点" required="required">
                                    </div>
                                    <div class="form-group">
                                      <label for="salary">薪资(元/天):</label>
                                      <input type="text" class="form-control" name="salary" placeholder="请输入薪资" required="required">
                                    </div>
                                    <div class="form-group">
                                      <label for="phone">联系人电话:</label>
                                      <input type="text" class="form-control" name="phone" placeholder="请输入联系人电话" required="required">
                                    </div>
                                    <div class="form-group">
                                      <label for="status">职位状态:</label>
                                      <select class="form-control" id="sel1" name="status">
                                            <option value="1">在招</option>
                                            <option value="2">结束</option>
                                      </select>
                                    </div>
                                    <input type="hidden" name="__token__" value="{$Request.token}" />
                                    <button type="submit" class="btn btn-primary">提交</button>&nbsp;&nbsp;<a href="{:url('job/index')}" class="btn btn-primary">返回</a>
                                  </form>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            
            {include file="public/footer" /}

