{include file="public/header" /}
<!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <form class="app-search p-l-20" action="{:url('job/index')}" method="GET">
                    <ul class="navbar-nav mr-auto mt-md-0 " style="width: 740px;">
                        
                        <!-- This is  -->
                        <!-- <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li> -->
                        <li class="nav-item hidden-sm-down">
                            
                                <div class="form-group"><input type="text" name="work" class="form-control" placeholder="招聘职位" value="{$work}"></div>
                                
                                <!-- <a class="srh-btn"><i class="ti-search"></i></a> -->
                            
                        </li>

                        <li class="nav-item hidden-sm-down">
                            <div class="form-group">
                                <select class="form-control" id="sel1" name="status">
                                    <option value="-1">请选择</option>
                                    <option value="1" {eq name="status" value="1" }selected{/eq}>在招</option>
                                    <option value="2" {eq name="status" value="2" }selected{/eq}>结束</option>
                                </select>
                            </div>
                        </li>
                        <button type="submit" class="btn btn-info" style="height: 38px;"><i class="ti-search"></i></button>
                    </ul>
                    </form>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    {include file="public/head" /}
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {include file="public/left" /}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <ol class="breadcrumb">
                            {foreach $breadcrumb as $vo} 
                               {if condition="$vo.href eq ''"}
                                 <li class="breadcrumb-item">{$vo.menu}</li>
                               {else /}
                                 <li class="breadcrumb-item"><a href="{$vo.href}">{$vo.menu}</a></li>
                               {/if}
                            {/foreach}
                        </ol>
                    </div>
                    <div class="col-md-6 col-4 align-self-center">
                        <a href="{:url('job/add')}" class="btn pull-right hidden-sm-down btn-success">添加</a>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#rid</th>
                                                <th>发布人uid</th>
                                                <th>招聘职位</th>
                                                <th>详情</th>
                                                <th>人数</th>
                                                <th>天数</th>
                                                <th>工作时间</th>
                                                <th>工作地点</th>
                                                <th>薪资(元/天)</th>
                                                <th>联系人电话</th>
                                                <th>职位状态</th>
                                                <th>创建时间</th>
                                                <th>更新时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {foreach $info as $v}
                                            <tr>
                                                <td>{$v.rid}</td>
                                                <td>{$v.uid}</td>
                                                <td>{$v.work}</td>
                                                 <td class="data" data-toggle="tooltip" title="{$v.detail}" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{$v.detail}</td>
                                                <td>{$v.count}</td>
                                                <td>{$v.days}</td>
                                                <td>{$v.work_time}</td>
                                                <td>{$v.work_place}</td>
                                                <td>{$v.salary}</td>
                                                <td>{$v.phone}</td>
                                                <td>{switch name="v.status" }
                                                        {case value="1"}在招{/case}
                                                        {case value="2"}结束{/case}
                                                    {/switch}</td>
                                                <td>{$v.create_time}</td>
                                                <td>{$v.update_time}</td>
                                                <td><a href="{:url('job/edit/'.$v.rid)}">编辑</a> | <a href="{:url('job/delete/'.$v.rid)}" onclick='return del();'>删除</a> | {switch name="v.status" }
                                                        {case value="1"}<a href="{:url('job/disable/'.$v.rid)}">关闭职位</a>{/case}
                                                        {case value="2"}<a href="{:url('job/enable/'.$v.rid)}">开启职位</a>{/case}
                                                    {/switch}</td>
                                            </tr>
                                            {/foreach}
                                        </tbody>
                                    </table>
                                    <nav aria-label="Page navigation">
                                    {$info->render()}
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <script>
function del()
{
  if(confirm("确定要删除吗？"))
  {
    return true;
  }
  else
  {
    return false;
  }
}
</script>
            {include file="public/footer" /}

<script type="text/javascript">
    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>