<!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                Make By YuJie Xia 联系方式:1438641583@qq.com<br />
        版权所有© 知道--高校社区服务平台 2019-2030      豫88888888号
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script src="__STATIC__/__PLUGIN__/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="__STATIC__/__PLUGIN__/bootstrap/js/tether.min.js"></script>
    <script src="__STATIC__/__PLUGIN__/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/metisMenu/3.0.4/metisMenu.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="__STATIC__/__JS__/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="__STATIC__/__JS__/waves.js"></script>
    <!--Menu sidebar -->
    <script src="__STATIC__/__JS__/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="__STATIC__/__PLUGIN__/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="__STATIC__/__JS__/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script src="__STATIC__/__PLUGIN__/flot/jquery.flot.js"></script>
    <script src="__STATIC__/__PLUGIN__/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="__STATIC__/__JS__/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="__STATIC__/__PLUGIN__/styleswitcher/jQuery.style.switcher.js"></script>
    <script>
    $(function () {
        $('#menu').metisMenu();
    });
</script>
</body>

</html>