{include file="public/header" /}
<!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    {include file="public/head" /}
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {include file="public/left" /}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <ol class="breadcrumb">
                            {foreach $breadcrumb as $vo} 
                               {if condition="$vo.href eq ''"}
                                 <li class="breadcrumb-item">{$vo.menu}</li>
                               {else /}
                                 <li class="breadcrumb-item"><a href="{$vo.href}">{$vo.menu}</a></li>
                               {/if}
                            {/foreach}
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="container">
                                  <h2>添加</h2>
                                  <form action="{:url('config/carousel_img_add_handle')}" enctype="multipart/form-data" method="POST">
                                    <div class="form-group">
                                      <label for="carousel">轮播图:</label>
                                      <img src="__STATIC__/admin/images/favicon.png" alt="user" class="rounded" width="100" height="80" id="carousel" /><input id="lefile" type="file" name="carousel" style="display:none"> 
                                      <!-- <input id="photoCover" class="input-large" type="text" style="height:30px;">  -->
                                    <a class="btn btn-info" onclick="$('input[id=lefile]').click();">Browse</a> 
                                    </div>
                                    <div class="form-group">
                                      <label for="sort">排序:</label>
                                      <input type="text" class="form-control" name="sort" placeholder="请输入排序" required="required" value="0">
                                    </div>
                                    <button type="submit" class="btn btn-primary">提交</button>&nbsp;&nbsp;<a href="{:url('config/carousel_img')}" class="btn btn-primary">返回</a>
                                  </form>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            
            {include file="public/footer" /}

<script type="text/javascript"> 
$('input[id=lefile]').change(function() { 
//$('#photoCover').val($(this).val()); 
$('#carousel').attr('src',URL.createObjectURL($(this)[0].files[0]));
}); 
</script>