<!-- 友情链接开始 -->
    <div class="blank"></div>
    <div class="link">
    	<div class="link_a">&nbsp;&nbsp;&nbsp;友情链接</div>
        <div class="link_b">
    		<ul>
                {foreach $links as $vo}
        		    <li><a href="{$vo['link']}"><font color="#005498">{$vo['title']}</font></a></li>
                {/foreach}
        	</ul>
        </div>
    </div>
    <!-- 友情链接结束 -->
    
    <!-- 底部内容开始 -->
	<div class="blank"></div>
    <div class="blank"></div>
	<div class="button">
		Make By YuJie Xia 联系方式:1438641583@qq.com<br />
        版权所有© 知道--高校社区服务平台 2019-2030      豫88888888号
	</div>
	<!-- 底部内容结束 -->
    </div>
        <div class="submenu"></div>
        <!-- 搜索内容结束 -->
        
    </div>
    <!-- 帮众结束 -->
    
    
   
   
    
</div>
<!-- 内容结束 -->

<!-- alpha div -->
<div id="maskLayer" style="display:none;">
<iframe id="maskLayer_iframe" frameBorder=0 scrolling=no style="filter:alpha(opacity=50)"></iframe>
<div id="alphadiv" style="filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5"></div>
    <div id="drag">
        <h3 id="drag_h"></h3>
        <div id="drag_con"></div><!-- drag_con end -->
    </div>
</div><!-- maskLayer end -->
</div>
<!-- alpha div end -->

</body>
</html>
