{include file="public/header" /}
<!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    {include file="public/head" /}
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {include file="public/left" /}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <ol class="breadcrumb">
                            {foreach $breadcrumb as $vo} 
                               {if condition="$vo.href eq ''"}
                                 <li class="breadcrumb-item">{$vo.menu}</li>
                               {else /}
                                 <li class="breadcrumb-item"><a href="{$vo.href}">{$vo.menu}</a></li>
                               {/if}
                            {/foreach}
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="container">
                                  <h2>编辑</h2>
                                  <form action="{:url('users/edit_handle')}" method="POST">
                                    <input type="hidden" name="uid" value="{$info.uid}">
                                    <div class="form-group">
                                      <label for="nickname">昵称:</label>
                                      <input type="text" class="form-control" name="nickname" placeholder="请输入昵称" required="required" value="{$info.nickname}">
                                    </div>
                                    <div class="form-group">
                                      <label for="email">邮箱:</label>
                                      <input type="email" class="form-control" name="email" placeholder="请输入邮箱" required="required" value="{$info.email}">
                                    </div>
                                    <div class="form-group">
                                      <label for="status">用户状态:</label>
                                      <select class="form-control" id="sel1" name="status">
                                            <option value="1" {eq name="info['status']" value="1"}selected{/eq}>启用</option>
                                            <option value="2" {eq name="info['status']" value="2"}selected{/eq}>禁用</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="user_type">用户类型:</label>
                                      <select class="form-control" id="sel1" name="user_type">
                                            <option value="1" {eq name="info['user_type']" value="1"}selected{/eq}>普通用户</option>
                                            <option value="2" {eq name="info['user_type']" value="2"}selected{/eq}>管理员</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="role_type">用户角色(普通用户不用理会):</label>
                                      <select class="form-control" id="sel1" name="role_type">
                                            {foreach name="roles" item="vo"} 
                                                <option value="{$key}" {eq name="info['role_type']" value="$key"}selected{/eq}>{$vo}</option>
                                            {/foreach}
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="is_freeze">冻结状态:</label>
                                      <select class="form-control" id="sel1" name="is_freeze">
                                            <option value="0" {eq name="info['is_freeze']" value="0"}selected{/eq}>未冻结</option>
                                            <option value="1" {eq name="info['is_freeze']" value="1"}selected{/eq}>已冻结</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="is_active">激活状态:</label>
                                      <select class="form-control" id="sel1" name="is_active">
                                            <option value="2" {eq name="info['is_active']" value="2"}selected{/eq}>未激活</option>
                                            <option value="1" {eq name="info['is_active']" value="1"}selected{/eq}>已激活</option>
                                      </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">提交</button>&nbsp;&nbsp;<a href="{:url('users/index')}" class="btn btn-primary">返回</a>
                                  </form>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            
            {include file="public/footer" /}

