{include file="public/header" /}
<div class="center_blank"></div>
<!-- 内容开始 -->
<div class="nr">  
          <div class="bft_f">
          	<div class="bft_f_1">
            	<ul>
                	<li>招聘职位</li>
                    <li>人数</li>
                    <li>工作时间</li>
                    <li>薪资</li>
                    <li>发布时间</li>
                </ul>
            </div>
            {foreach $jobs as $vo}
            <div class="bft_f_2">
            	<ul>
                	<li><span><a href="{:url('detail/jobs/'.$vo.rid)}">{$vo.work}</a></span></li>
                    <li>{$vo.count}</li>
                    <li>{$vo.work_time}</li>
                    <li>{$vo.salary}</li>
                    <li>{$vo.create_time}</li>
                </ul>
            </div>
            {/foreach}
            <div class="bft_f_3">
            	{$jobs->render()}
            </div>
          </div>
          {include file="public/footer" /}